@import url("https://fonts.googleapis.com/css2?family=Epilogue:wght@500;700&display=swap");

:root {
  /* Colors */
  --color-dark: hsl(0, 0%, 8%);
  --color-gray: hsl(0, 0%, 41%);
  --color-white: hsl(0, 0%, 98%);

  /* Typography */
  --font-family-sans: "Epilogue", sans-serif;

  /* Font Weights */
  --weight-regular: 500;
  --weight-bold: 700;

  /* Design elements */
  --transition: 300ms ease;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
  scroll-behavior: smooth;
}

body {
  font-family: var(--font-family-sans);
  font-size: 1.8rem;
  color: var(--color-gray);
  background-color: var(--color-white);
}

a {
  text-decoration: none;
  display: inline-block;
}

img {
  display: block;
  max-width: 100%;
}

.example-page {
  min-height: calc(900px - 88px);
  display: flex;
  justify-content: center;
  align-items: center;
}
